<h1>Show ISR</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @isr_list.name %>
</p>

<%= link_to 'Edit', edit_isr_list_path(@isr_list) %> 
<%= link_to 'List', isr_lists_path %>
