<h3>Edit Call List</h3>

<%= render 'form', call_list: @call_list %>

<%= link_to 'Show', @call_list %>
<%= link_to 'List', call_lists_path %>
<% if current_user.email == "admin" %>
  <%= link_to 'Week', call_lists_isrlist_path(isr: $isr) %>
<% end %>
