<p id="notice"><%= notice %></p>

<table id="not_called"  class="stripe" class="mytable" class="display" cellspacing="0">
  <thead>
    <tr>
      <th> Customer </th>
      <th> Create call list </th>
    </tr>
  </thead>
  <tbody>
  <% @missing_call_list.each do |r| %>
    <tr>
      <td><%= r.custcode %></td>
      <td><%= link_to 'Add Call List', new_call_list_path %></td>
    </tr>
  <% end %>
  </tbody>
</table>
